---
layout: layouts/base.njk
heroVariant: spotlight
---
{% include "partials/nav.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/stats.njk" %}
{% include "partials/gallery.njk" %}
{% include "partials/members.njk" %}
{% include "partials/quote.njk" %}
{% include "partials/story.njk" %}
{% include "partials/events.njk" %}
{% include "partials/join.njk" %}
{% include "partials/sponsors.njk" %}
{% include "partials/footer.njk" %}
